@use 'variables';

.confirmation {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: variables.$pink3;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center the text inside the elements */
    gap: 20px;
}

