@use 'variables';

.rsvp {
    max-width: 1024px;
    width: 100vh;
    margin: 0 auto;
    height: 100vh;
    background-color: variables.$pink3;
    padding: 64px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

h1 {
    text-align: center;
}

.rsvp-form {
    display: flex;
    flex-direction: column; /* Arrange items in a vertical stack */
    gap: 10px; /* Adds space between form fields */
    width: 100%;
    max-width: 500px; /* Limit form width */

    & label {
        font-size: 1.2rem; /* Bigger font size for labels */
        margin-top: 10px;
    }

    & input {
        font-size: 1.2rem; /* Bigger font size for input fields */
        padding: 10px;
        border-radius: 4px;
        color: #000;
    }
}